<?xml version="1.0"?>
<launch>

    <rosparam param="/uwb/nodesId"> [100, 101, 102, 103, 206]</rosparam>
    <rosparam param="/uwb/nodesPos">[-3, -3, 0, -3, 3, 0.2, 3, 3, 1.2, 3, -3, 1.5]</rosparam>

    <include file="$(find hector_quadrotor_demo)/launch/outdoor_flight_gazebo.launch"/>
    <include file="$(find hector_quadrotor_teleop)/launch/xbox_controller.launch"/>
    
    <node respawn="false" pkg="uwb_driver" type="uwb_driver_gazebo_node" name="uwb_driver_gazebo_node" output="screen">
    </node>
  
</launch>

