<?xml version="1.0"?>
<launch>

	<param name="use_sim_time" value="true" />

    <rosparam file="$(find uwb_driver)/cfg/uwb_params.yaml" command="load" />

	<include file="$(find vcviz)/launch/vcviz.launch"/>

	<include file="$(find localization)/launch/localization.launch"/>

    <node name="uwb_driver_play" pkg="rosbag" type="play" output="screen" args="-s 10 -l $(find localization)/bag/uwb_ante_imu_2017-07-09-12-06-49.bag"/>

    <!-- <node pkg="tf" type="static_transform_publisher" name="uwb_to_vicon_tf" args="0 0 0 0 0 0  vicon_global_frame world 20" /> -->
  
</launch>

