<?xml version="1.0"?>
<launch>

	<param name="use_sim_time" value="true" />

    <rosparam file="$(find uwb_driver)/cfg/anchor_old.yaml" command="load" />

    <node name="uwb_driver_play" pkg="rosbag" type="play" output="screen" args="-s 10 -l $(find uwb_driver)/bag/uwb_driver_square.bag"/>

    <node pkg="tf" type="static_transform_publisher" name="uwb_to_vicon_tf" args="0 0 0 0 0 0  vicon_global_frame world 20" />
  
</launch>

